body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.flexible-area {
  display: flex;
}

.orange-color {
  color: #fba24f;
}

h1 {
  font-size: 45px;
  color: #575757;
}

h2 {
  font-size: 35px;
  color: #707070;
}

h3 {
  font-size: 20px;
  color: #18191f;
}

h4 {
  font-size: 18px;
  color: #18191f;
}

p {
  color: #828282;
  font-size: 20px;
  line-height: 32px;
}

.half-width {
  width: 50%;
}

.top-section-intro {
  padding: 50px;
  margin: auto;
}

.top-section-photo {
  padding: 50px;
}

.top-section-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#about-area {
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.about-photo-section {
  padding: 50px;
}

.about-photo-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about-intro-section {
  padding: 50px;
  margin: auto;
}

.link-button {
  color: #ffff;
  text-decoration: none;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  padding: 10px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
}

.recipies-top-section {
  margin: auto;
  width: 50%;
  text-align: center;
}

.recipies {
  margin-left: 30px;
  margin-right: 30px;
}

.single-recipe {
  width: 33.33%;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.single-recipe img {
  width: 100%;
}

#counter-section {
  margin: 30px 50px;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.single-counter {
  width: 33.33%;
  margin-left: 60px;
  padding: 20px 50px;
}

.single-counter h3,
.single-counter p {
  line-height: 10px;
}

footer {
  background-color: #0b0d17;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

footer h3 {
  color: #5b5b5b;
}

footer p {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
}
